

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    
}


header{
    background: linear-gradient(rgb(39, 101, 57), rgb(17, 99, 15));
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tittelskrift{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(134, 220, 108);
    
}


.container{
    display: grid;
    grid-template-columns: 15% 1fr;
    height: 100vh;
}

.left{
    background:linear-gradient(#31a535, #2baa2f , #1d611f);
}

.right{
    background:linear-gradient(#76e079, #2baa2f , #1d611f);
}

#knappmeny{
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 33% 33% 33%;
    position: relative;
    right: 20px;
    
}

#link1{
    background-color: lightgreen;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 3px;
    font-family: papyrus;
    transition: border-radius 0.5s ease;
}

#link1:hover{
    background-color: rgb(171, 244, 171);
    border-radius: 10px;
    transition: border-radius 0.5s ease;
}

#link2{
    background-color: lightgreen;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 3px;
    position: relative;
    top: 35px;
    font-family: papyrus;
    transition: border-radius 0.5s ease;
}

#link2:hover{
    background-color: rgb(171, 244, 171);
    border-radius: 10px;
    transition: border-radius 0.5s ease;
}

#link3{
    background-color: lightgreen;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 3px;
    position: relative;
    top: 70px;
    font-family: papyrus;
    transition: border-radius 0.5s ease;
}

#link3:hover{
    background-color: rgb(171, 244, 171);
    border-radius: 10px;
    transition: border-radius 0.5s ease;
}

.hovedboks{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    height: 200vh;
    margin: 10px;
}

#boks1{
    display: flex;
    
    border-radius: 20px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

#åssiden{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    box-shadow: rgb(103, 217, 246) 0px 0px 10px 10px;
}

#boks2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 10px;
}

#boks3{
    margin: 10px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    font-size: 18px;
}



#boks4{
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

#tranbyskole{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    width: 100%;
    height: 100%;
    box-shadow: #8cd98e  0px 0px 10px 10px;
}

#boks5{
    background-color: lightsalmon;
    margin: 10px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#bleiker{
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: rgb(123, 198, 216) 0px 0px 10px 10px;
    opacity: 75%;
}

#boks6{
    margin: 10px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

}