

body{
    background-color: rgb(195, 236, 195);
    height: 100%;
    margin: 0;

}

#tittelskrift{
    color: rgb(134, 220, 108);
    padding-left: 350px ;
    /* background-color: ; */
    background: linear-gradient(rgb(39, 101, 57), rgb(17, 99, 15));
    margin: 0;
    padding-top: 15px;
    padding-bottom: 30px;
    stroke-width: 20px;
    stroke: orange;
}



nav{

}

header{
    height: 100%;
}



li{
    margin: 10px;
    background-color: lightcoral;
}

#maple{
    align-items: center;
    position: relative;
    top: 10px;
}

#eugen1{
    margin: 20px;
    border-radius: 15px;
}

#høstb1{
    margin: 20px;
    position: relative;
    bottom: 250px;
    border-radius: 15px;
}

.tboks{
    padding-left: 600px;
}

.tboksp{
    position: relative;
    bottom: 280px;
    padding-left: 500px;

}

.tboks2{
    position: relative;
    bottom: 520px;
    padding-left: 500px;
}

.tboks3{
    position: relative;
    bottom: 785px;
    padding-left: 500px;
}

#sly2pic{
    margin: 20px;
    position: relative;
    bottom: 485px;
    border-radius: 15px;
}

#swopic{
    margin: 20px;
    position: relative;
    bottom: 1000px;
    border-radius: 15px;
}

hr{
    
}



.navbar{
    list-style-type: none;
    margin: 0;
    padding-top: 25px;
    padding-right: 30px;
    justify-content: space-around;
    font-size: large;
    font-weight: 800;
}

.om:hover{
    color: rgb(21, 107, 3);
    background-color: rgb(128, 245, 104) ;
}

.om{
    background-color: rgb(164, 222, 152);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
}

.container{
    display: grid;
    grid-template-columns: 15% 1fr;
    height: 800px;
}

.leftColumn{
    background:linear-gradient(#31a535, #2baa2f , #1d611f);
    height: 100%;
}

.rightColumn{
    background:linear-gradient(#76e079, #2baa2f , #1d611f);
}

